<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat Bot</title>
    <link rel="stylesheet" href="../static/css/demo.css" />
  </head>
  <body>
    <div class="container">
      <div class="messages_container">
        <div class="chat_header">
          <div class="chat_user_status">
            <div class="status_icon">●</div>
            <div class="chat_user_name">bot</div>
            <a href="/chat" class="top">最初に戻る</a>
          </div>
        </div>

        <div class="messages">
          <div class="chat_message chat_left">
            <div class="message_box">
              <div class="message_content">
                <div class="message_text">このシステムはChat bind:です。</div>
              </div>
            </div>
          </div>
          <div class="chat_clear"></div>

          <div class="chat_message chat_right">
            <div class="message_box">
              <div class="message_content">
                <div class="message_text">では、これをさがしてください</div>
              </div>
            </div>
          </div>
          <div class="chat_clear"></div>

          {% if array %}{% for data in array%}{% for k in data %}
          <div class="chat_message chat_right">
            <div class="message_box">
              <div class="message_content">
                <div class="message_text">
                  {% for q in k%} {{q}}<br />
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="chat_clear"></div>

          <div class="chat_message chat_left">
            <div class="message_box">
              <div class="message_content">
                <div class="message_text">
                  {% for i in data[k] %} {{i}}<br />
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="chat_clear"></div>
          {% endfor %}{% endfor %}{% endif %}
          <div id="scroll"></div>
        </div>

        <div class="send">
          <form action="" method="post" id="a">
            <div class="option">
              {% if data %}
              <p>{{key}}</p>
              {% for i in data%}
              <input type="submit" value="{{i}}" name="select" />
              {% endfor %}
              <button>
                <span>
                  <a href="/inquiry">問い合わせページへ</a>
                </span>
              </button>
              <input type="hidden" name="buttonType" value="{{key}}" />
              <input type="hidden" name="choice" , value="{{choice}}" />
              <input type="hidden" name="attention" , value="{{attention}}" />
              {% endif %}
            </div>
          </form>
        </div>
      </div>
    </div>

    <script>
      const handleTextarea = (event) => {
        if (event.keyCode === 13 && !event.shiftKey) {
          event.preventDefault(); //自動改行のキャンセル
          document.getElementById("a").submit();
        }
      };

      //最新のチャットを表示
      let target = document.getElementById("scroll");
      //false の場合、要素の下端がスクロール可能祖先の表示範囲の下端に来るようにスクロールします
      target.scrollIntoView(false); //target要素をデフォルトで表示

      //デフォルトでテキストエリアをアクティブにする
      document.getElementById("question").focus();
    </script>

    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
    <script src="../static/js/app.js"></script>
  </body>
</html>
