body {
    font-family: sans-serif;
    background-color: #fff;
  }
  
  h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 100px;
    color: #333;
  }
  
  a {
    color: #f00;
    text-decoration: none;
  }
  
  a:hover {
    background-color: #f9c;
  }
  
  /* ログアウト時のメッセージ */
  
  .sent {
    color: #fff;
    background-color: red;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .sent h1 {
    font-size: 1em;
    font-weight: normal;
    width: 300px;
  }
  
  .sent button {
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
  }
  